.instrument_frame{
	width: 90px;
	height: 80px;
	position: absolute;
	background-color: #64c9c5;
	/*vertical-align: middle;*/
	border: 2px #89d7d4 solid;
	border-radius: 3px;
	box-shadow: 2px 2px 7px #42b8b3;
}

.instrument_button{
	margin: 0;
	margin-top: 6px;
	margin-left: 4px;
	width: 64px;
	height: 64px;
	float: left;
	border: 2px #ccc outset;
	border-radius: 4px;
}

.instrument_button:hover{
	border: 2px #fff outset;
}

.instrument_button:active{
	border: 2px #ccc inset;
}

.instrument_slider{
	margin: 0;
	margin-top: 5px;
	margin-left: 2px;
	height: 70px;
}

body{
	/*margin: 0;*/
	padding: 0;
	background-color: #e0e0e0;
}