#MeineID {
	position:absolute;
	top:100px;
	left:200px;
	background-color:blue;
	width:100px;
	height:100px;
	cursor:pointer;
}

#MeineID:hover {
	background-color:rgba(200,200,255,1);
}

.MeineClass {
	position:absolute;
	background-color:yellow;
	width:200px;
	height:200px;
}

.ZweiteClass {
	border: 1px solid black;
}

.DropDown{
}

.Button{
}

.SidebarElement{
	width:10em;
	margin-top:0.5em;
	margin-bottom:0.7em;
}

.container { 
	border:2px solid #ccc; 
	width:10em; 
	height: 10em; 
	overflow-y: auto; 
	margin-bottom: 1em;
}

.container span {
	position: relative;
	left:0;
}

.container input{
	position: relative;
	float:right;
}

.container div{
	display: inline-block;
	width: 100%;
}
